$colorBase: #ffcc00;
$colorGrey: #666666;
$colorSecondary: #898f8f;
$colorIcon: #cccccc;
$colorText: #494949;

$fontSecondary: 'Open Sans', sans-serif;
$fontH: 'Roboto', sans-serif;
$fontBase: 'Raleway', sans-serif;

$arrowSize: 20px;